// Variables
$sidebar-bg: #343a40;
$sidebar-color: #ffffff;
$sidebar-hover-bg: #495057;
$main-content-bg: #f8f9fa;
$info-box-bg: #007bff;
$info-box-color: #ffffff;
$modal-header-bg: #007bff;
$modal-header-color: #ffffff;
$card-border-color: #ddd;
$card-bg: #ffffff;
$control-icon-color: #000;

// Base styles
body {
    font-family: Arial, sans-serif;
    background-color: $main-content-bg;
    color: #333;
}

// Sidebar styles
.sidebar {
    background-color: black;
    color: $sidebar-color;
    min-height: 100vh;
    padding: 20px;
    width: 250px;
    position: fixed;
    display: flex;
    flex-direction: column;

    .header-text{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-weight: bold;
            color: white;
            font-size: 0.8rem;
        }
    }

    .nav {
        padding-top: 50px;
        display: flex;
        flex-direction: column;

        .nav-link {
            color: $sidebar-color;
            font-weight: bold;

            &:hover {
                background-color: $sidebar-hover-bg;
            }
        }
    }
}

// Main content styles
.main-content {
    margin-left: 250px;
    //padding: 20px;

    .filtro{
        background-color: black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        .filtro-box{
            display: flex;
            gap: 20px;
            #codigoFiltro{
                border-radius: 5px;
                padding-left: 5px;
            }
            button{
                padding: 8px;
                background-color: var(--color-highlight);
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: 700;
            }
          
            button:hover {
                background-color: var(--color-tertiary);
            }
        }
    }

    .sec-imoveis{
        background-color: var( --color-background);
        width: 100%;
        height: 100vh;
        padding: 20px;
        .info-panel {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
    
            .info-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: var(  --color-highlight);
                color: $info-box-color;
                padding: 10px;
                border-radius: 8px;
                flex: 1;
                min-width: 200px;
    
                strong {
                    display: block;
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                p{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--color-background);
                    font-size: 2rem;
                    font-weight: bold;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

                }
            }
        }
        .info-info{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                padding: 2rem;
                background-color: var(  --color-highlight);
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                
            }
            button:hover{
                color: var(  --color-highlight);
                background-color: white;
                border: 1px solid var(  --color-highlight);
            
            }
        }
    }

    header {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    

    .chart {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
        text-align: center;
    }

    .btn-primary {
        background-color: $info-box-bg;
        border: none;

        &:hover {
            background-color: darken($info-box-bg, 10%);
        }
    }
}

// Modal styles
.modal-content {
    padding: 1rem;
    border-radius: 20px;
    width: 650px;
    .modal-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #CBA75C;
        color: var(--color-highlight);
        border-radius: 20px;
        margin-bottom: 15px;

        h5{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .close {
            color:  var(--color-highlight);
            font-size: 1.5rem;
        }
    }

    .modal-body {
        .form-group {
            margin-bottom: 15px;

            label {
                font-weight: bold;
            }

          

            #descricao {
                height: 100px;
            }
        }
        .btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
            button{
                padding: 2rem;
                background-color: var(  --color-highlight);
                border-radius: 10px;
                font-size: 1.2rem;
                font-weight: bold;
                width: 10rem;
                
            }
            button:hover{
                color: var(  --color-highlight);
                background-color: white;
                border: 1px solid var(  --color-highlight);
            
            }
        }
    }
}

// Card styles
.card {
    background-color: $card-bg;
    border: 1px solid $card-border-color;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
        transform: translateY(-5px);
    }

    .card-body {
        padding: 20px;

        .photos img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

       

       
        .info {
            margin-top: 15px;

            .card-title {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            .card-subtitle {
                font-size: 1.2rem;
                margin-bottom: 15px;
                color: #777;
            }

            .card-text {
                font-size: 1rem;
                margin-bottom: 10px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .carousel-img {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
    }

    .carousel-container {
        min-width: 480px;
        border-radius: 20px;
        margin: auto;
    }
}

.header-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .info-header{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    }
}


// Additional dynamically injected styles
.edit {
    display: flex;
    gap: 10px;
    justify-content: end;

    .btn-primary, .btn-danger {
        i {
            margin-right: 5px;
        }
    }
}

.infos {
    display: flex;
    flex-direction: column;

    .sec-infos {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .sec-infos-1, .sec-infos-2 {
            p {
                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .descricao {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 10px;

        p {
            margin-top: 0;
        }
    }
}

// Carousel control colors
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: $control-icon-color;
}

// Responsive styles for mobile
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        min-height: auto;
        position: static;
        padding: 10px;
   

        a{
            margin: 0 80px;
            width: 200px;
            height: auto;
        }

        .nav {
            padding-top: 10px;
            flex-direction: row;
            justify-content: space-around;
            margin-left: -80px;
            li{
                a{
                    font-size: 1.3rem;
                }
            }

        }

        .header-text {
            margin-top: 5px;
            p {
                font-size: 0.7rem;
            }
        }
    }

    .main-content {
        margin-left: 0;
        padding: 10px;

        .filtro {
            flex-direction: column;
            padding: 10px;
            .filtro-box {
                flex-direction: column;
                gap: 10px;
                button {
                    font-size: 1rem;
                }
            }
        }

        .sec-imoveis {
            padding: 10px;

            .info-panel {
                flex-direction: column;
               
                gap: 10px;

                .info-box {
                    min-width: 100%;
                    strong {
                        font-size: 1.2rem;
                    }
                    p {

                        font-size: 1.5rem;
                    }
                }
            }

            .info-info {
                margin-top: 60px;
                align-items: start;
                button {
                    
                    padding: 1.5rem;
                    font-size: 1rem;
                }
            }
        }

        .modal-content {
            width: 100%;
            padding: 10px;

            .modal-body {
                .form-group {
                    margin-bottom: 10px;
                }

                .btn {
                    button {
                        padding: 1.5rem;
                        font-size: 1rem;
                        width: 100%;
                    }
                }
            }
        }

        .card {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;

            .card-body {
                padding: 10px;

                .info {
                    margin-top: 10px;

                    .card-title {
                        font-size: 1.2rem;
                    }

                    .card-subtitle {
                        font-size: 1rem;
                    }

                    .card-text {
                        font-size: 0.9rem;
                    }
                }
            }

            .carousel-img {
                height: 200px;
            }

            .carousel-container {
                min-width: 100%;
            }
        }

        .edit {
            flex-direction: column;
            gap: 5px;
        }

        .infos {
            .sec-infos {
                flex-direction: column;
                gap: 10px;
            }

            .descricao {
                margin-top: 5px;
            }
        }
    }
}
