.container {
   width: 100%;
   max-width: 1260px;
   margin: 0 auto;
   padding: 0;
 }
 @media (max-width: 1400px) {
   .container {
       padding: 0px 25px;
   }
 }
 @media (max-width: 678px) {
   .container {
       padding: 0px 15px;
   }
 }