footer {
   height: 5rem;
   background-color: white; // Certifique-se de que esta variável de cor está definida em seu arquivo SCSS principal
   color: var(--dark); // Sugestão para a cor do texto, defina esta variável conforme necessário
   display: flex;
   align-items: center;
   justify-content: center;
   .footer-content {
      display: flex;
   justify-content: space-around;
   gap: 50rem;
   align-items: center;
       p {
         font-weight: bold;
           margin: 5px 0; // Pequena margem entre linhas
           font-size: 1.2rem; // Tamanho da fonte menor para o texto do footer
       }
   }
}
