header {
  background-color: var(--color-primary);
  height:  125px;
  position: relative; // Necessário para o pseudo-elemento

  .custom-header {
    @include flex(row, center, left);
    padding: 3rem 5rem 10px 5rem;
    margin-top: -25px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      flex-direction: column;

      .logo-img {
        width: 90px;
        height: auto;
//margin: -8px 0 4px 0;
      }

      .header-text {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 23rem;

        p {
          color: white;
          font-weight: bold;
          font-size: 0.8rem;
          margin: 0 0 2px 0;
          text-align: center;
        }
      }
    }

    .infos {
      @include flex(row, center, space-around);
      width: 90%;
      margin-left: 290px;

      .links {
        @include flex(row, center, right);
        gap: 2rem;

        a {
          i {
            font-size: 2rem;
            color: var(--color-highlight);
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
          }
        }
      }

      nav {
        position: relative;
        margin-left: -22rem;

        .nav-links {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          gap: 30px;

          li {
            margin-left: 1rem;

            a {
              font-weight: bold;
              color: var(--color-highlight);
              text-decoration: none;
              font-size: 2rem;
              text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
            }

            a:hover {
              color: var(--light-gray);
              text-shadow: 2px 2px 4px var(--color-tertiary);
            }
          }
        }

        .hamburger-menu {
          display: none;
          flex-direction: column;
          cursor: pointer;
          z-index: 3000;

          span {
            display: block;
            height: 2px;
            background: #fff;
            /* Cor das linhas do menu */
            margin: 5px 0;
            width: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
 

    .custom-header {

      
      @include flex(row, center, center);
      padding: 2rem 27rem 1rem 13rem;
      margin: 0;
      width: 100%;

      a {
        // width: 100%;
        align-items: baseline;

        .logo-img {
          width: 90px;
          margin-left: 28px;
          margin-bottom: 5px;
        }

        .header-text {
          p {
            font-size: 0.8rem;
            margin-left: -140px;
          }
        }
      }

      .infos {
      //  width: 20%;
        margin: 0;

        .links {
          display: none;
          gap: 2rem;
        }

        nav {
          .nav-links {
            display: none; // Oculta os links no mobile por padrão
            flex-direction: column;
            align-items: start;
            position: absolute;
            top: 60px; // Ajusta de acordo com o layout do seu cabeçalho
            left: 0;
            right: 0;
            background: #fff; // Fundo para os links
            z-index: 2000;
          }

          .nav-links.active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            align-items: start;
            padding: 2rem 5rem;
            min-width: 26pc;
            height: 165px;
            background-color: #000;
            margin: -5px 0 0 100px;
            z-index: 2024;
          }

       

          .hamburger-menu {
            display: flex;
            margin-left: 450px;

            span {
              background: var(--color-highlight);
            }
          }
        }
      }
    }
  }

}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; // Altura da border-bottom
  background: linear-gradient(to left, var(--color-highlight), var(--primary-yellow) 40%), linear-gradient(to right, var(--color-highlight), var(--primary-yellow) 50%);
  background-size: 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
}