header {
  background-color: #0B0A0D;
  height: auto;
}

.custom-header {
  @include flex(row, center, left);
  padding: 2rem 10rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;

    .logo-img {
      width: 10rem;
      height: auto;
    }

    .header-text {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      p {
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        text-align: center;
      }
    }
  }

  .infos {
    @include flex(column, center, center);
    width: 100%;

    .links {
      @include flex(row, center, right);
      width: 100%;
      gap: 5rem;

      a {
        i {
          font-size: 2rem;
          color: var(--primary-yellow);
        }
      }
    }

    nav {
      position: relative;
      margin-left: -22rem;

      .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 40px;

        li {
          margin-left: 1rem;

          a {
            font-weight: bold;
            color: var(--primary-yellow);
            text-decoration: none;
            font-size: 2rem;
          }

          a:hover {
            color: var(--light-gray);
          }
        }
      }

      .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
          height: 2px;
          background: var(--primary-yellow);
          margin: 3px 0;
          width: 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-header {
    padding: 1rem 2rem;
  }

  .logo-img {
    width: 10rem;
  }

  .header-text {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    background-color: #0B0A0D;
    width: 100vw !important;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
    width: 110vw !important;
    position: absolute;
    margin-left: -380px;
    top: 50px;
    left: 0 !important;
    margin-top: 50px;
    z-index: 2024;

    background-color: #0B0A0D;

    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .hamburger-menu {
    display: flex;
  }
}