// ------------------------------------------ // 
// ----------------- Imóveis All ------------ //
// ------------------------------------------ // 

#s__imoveis_all {
   padding: 0;
   width: 100%;
   display: flex;
   flex-direction: row;

   .filter {
      @include flex(column, left, start);
      padding: 20px;
      max-width: 250px;
      height: 100vh;
      background-color: var(--color-primary); // Usa o marrom escuro como fundo
      color: var(--color-highlight); // Texto em dourado para destaque
      border-right: 5px solid var(--color-highlight); // Linha divisória destacada
      position: fixed;

      form {
         padding-top: 20px;

         input[type="text"],
         select {
            margin-top: 10px;
            padding: 10px;
            width: 90%;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
         }

         button {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: var(--color-highlight);
            color: var(--color-primary);
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

            img {
               filter: invert(100%);
            }
         }
      }
   }

   .informacoes_sec {
      width: calc(100%);
      padding: 2% 3% 2% 3%;
      margin-left: 250px; // Assegura que o conteúdo não fique por baixo do filtro
      background-color: var(--color-background); // Fundo claro para as informações

      .venda {

         .row {
            width: 100%;
            @include flex(row, center, start);
            gap: 10rem;
            min-height: 100vh;
         }



         h1 {
            margin: 1rem 0 3rem 0;
            font-size: 3rem;
            color: var(--color-tertiary);
            width: 100%;
            @include flex(row, center, center);
         }

         #properties-list{
            width: 100%;
            .card {
               box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
               border-radius: 10px;
               overflow: hidden;
               transition: transform .3s ease-in-out;
               min-width: 330px;
               max-width: 330px;
               height: auto;
               display: flex;
               flex-direction: column;
               margin-bottom: -65px;
               &:hover {
                  transform: translateY(-10px);
               }
               .info-card {
                  margin-top: -15px;
                  z-index: 2023;
                  padding: 5px;
                  width: 115%;
                  @include flex(row, center, center);
                  background: var(--color-tertiary);
                  color: var(--color-background);
                  border-bottom: 3px solid var(--primary-yellow);
               }
               .swiper-container {
                  width: 100%;
                  height: 200px;
                  .swiper-slide {
                     text-align: center;
                     font-size: 18px;
                     background: #fff;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin-top: -2px;
                     img {
                        min-width: 110%;
                        max-height: 200px;
                     }
                  }
                  .swiper-button-prev,
                  .swiper-button-next {
                     color: var(--color-background);
                     text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
                     margin-top: -100px;
                  }

                  .swiper-pagination {
                  top: 180px;
                     position: absolute;
                     .swiper-pagination-bullet {
                 
                        background-color: #000; /* Ajuste a cor dos bullets conforme necessário */
                    }
                  }

                 
               }
               .card-body {
                  padding: 10px 15px;
                  .card-title {
                     font-size: 1.3rem;
                     color: #333;
                  }
                  .card-text {
                     font-size: 1.4rem;
                     color: #666;
                     margin-bottom: 10px;
                  }
                  .card-info {
                     font-size: 1rem;
                     color: #888;
                     margin-bottom: 5px;
                  }
                  .info-1,
                  .info-2 {
                     @include flex(row, left, start);
                     gap: 5rem;
                  }
                  .btn {
                     z-index: 2030;
                     width: 100%;
                     @include flex(row, center, center);
                     .btn-primary {
                        background-color: var(--color-highlight);
                        border: none;
                        border-radius: 5px;
                        font-weight: bold;
                        color: var(--color-background);
                        width: 50%;
                        font-size: 1.3rem;
                        padding: 8px;
                        margin-top: 8px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                     }
                  }
               }
            }
         }

         
      }
   }


   
}

.footer-imoveis {

   width: 100%;
   height: 5vh;
   text-align: center;
   padding: 10px;
   background-color: black;
   display: flex;
   display: none;
   align-items: center;
   justify-content: center;
    p { 
     margin-top: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
     color: white;
     strong{
       margin-left: 5px  ;
       font-size: 10px;
     }
   }
 
 }

// Responsivo para dispositivos móveis
@media (max-width: 768px) {
   #s__imoveis_all {
      flex-direction: column;

      .filter {
     ;
         max-width: 100%;
         height: auto;
         padding: 15px;
         position: relative;
         border-right: none;
         border-bottom: 5px solid var(--color-highlight);

         a{
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: center;
           
            img{  
               margin-left: -180px;
               width: 150px;
               height: auto;
            }
        
         }

         .btn-filtro-mobile{
            margin-top: -50px;
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
            #toggleFilterForm{
               margin-top: 20px;
               border-radius: 10px;
               padding: 5px;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: row;
               gap: 5px;
               width: 30%;
               background-color: var(--color-highlight);
               p{
                  font-size: 1.2rem;
                  color: White;
                  font-weight: bold;
                  margin: 2px 0 0 0;
               }

            }
         }

      


         #filterForm {
            &.d-none {
                display: none;
            }

            .filters {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .filter-item {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    label {
                        font-size: 1.2rem;
                        color: var(--color-highlight);
                        font-weight: bold;
                    }

                    select,
                    input[type="text"] {
                        width: 70%;
                        margin: 0;
                        padding: 5px;
                        border: none;
                        border-radius: 10px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                    }

                    button {
                        width: 70%;
                        padding: 10px;
                        background-color: var(--color-highlight);
                        color: var(--color-primary);
                        border: none;
                        border-radius: 10px;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

                        img {
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
      }

      .informacoes_sec {
         margin-left: 0;
         padding: 20px;
        
        
         .venda {

            h1 {
               font-size: 2rem;
               margin: 2rem 0 4rem 0;
            }
          
            .row {
               flex-direction: column;
               gap: 2rem;
               margin: 0;
            }

           

            #properties-list {
               width: 100%;


               .col-md-3{

                  margin-left: -15px;

                  width: 100%;



                  .card {
                     min-width: 105%;
                     max-width: 105%;
                     margin-bottom: 20px;
                     display: flex;
                     flex-direction: column;
                     .swiper-container {
                        width: 100%;
                        height: 150px;
                        .swiper-slide {
                           img {
                              min-width: 110%;
                           }
                        }



                     }

                     .card-body{
                        margin-top: 25px;
                        gap: 5px;
                        display: flex;
                        flex-direction: column;
                        .header-card{
                           gap: 15px;
                        }

                        .infos-card{
                           .card-title{
                              p{
                                 font-size: 0.2rem;
                               

                              }
                              
                           
                           }

                           
                        }


                     }
                  }

               }

               
            }
         }
      }
   }

   .footer-imoveis {

      width: 100%;
      height: 5vh;
      text-align: center;
      padding: 10px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
       p { 
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: white;
        strong{
          margin-left: 5px  ;
          font-size: 10px;
        }
      }
    
    }
   
}
