// ------------------------------------------ // 
// ----------------- Imóveis All ------------ //
// ------------------------------------------ // 

#s__imoveis_all {
   padding: 0;
   width: 100%;
   display: flex;
   flex-direction: row;

   .filter {
      @include flex(column, left, start);
      padding: 20px;
      max-width: 250px;
      height: 100vh;
      background-color: var(--color-primary); // Usa o marrom escuro como fundo
      color: var(--color-highlight); // Texto em dourado para destaque
      border-right: 5px solid var(--color-highlight); // Linha divisória destacada
      position: fixed;

      form {
         padding-top: 20px;

         input[type="text"],
         select {
            margin-top: 10px;
            padding: 10px;
            width: 90%;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
         }

         button {
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: var(--color-highlight);
            color: var(--color-primary);
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

            img {
               filter: invert(100%);
            }
         }
      }
   }

   .informacoes_sec {
      width: calc(100%);
      padding: 2% 3% 2% 3%;
      margin-left: 250px; // Assegura que o conteúdo não fique por baixo do filtro
      background-color: var(--color-background); // Fundo claro para as informações

      .venda {

         .row {
            width: 100%;
            @include flex(row, center, start);
            gap: 10rem;
            min-height: 100vh;
         }



         h1 {
            margin: 1rem 0 3rem 0;
            font-size: 3rem;
            color: var(--color-tertiary);
            width: 100%;
            @include flex(row, center, center);
         }

         .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
            border-radius: 10px;
            overflow: hidden;
            transition: transform .3s ease-in-out;
            min-width: 330px;
            max-width: 330px;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: -65px;

            &:hover {
               transform: translateY(-10px);
            }

            //Header
            .info-card {
               margin-top: -15px;
               z-index: 2023;
               padding: 5px;
               width: 115%;
               @include flex(row, center, center);
               background: var(--color-tertiary);
               color: var(--color-background);
               border-bottom: 3px solid var(--primary-yellow);
            }

            // Swiper styles
            .swiper-container {
               width: 100%;
               height: 200px;

               .swiper-slide {
                  text-align: center;
                  font-size: 18px;
                  background: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: -2px;
              
                  img {
                     min-width: 110%;
                     max-height: 200px;
                  }
               }

               .swiper-button-prev,
               .swiper-button-next {
                  color: var(--color-background);
                  text-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
                  margin-top: -100px;
               }

               .swiper-pagination-bullet {
                  position: absolute;
                  bottom: 180px; // Posicionamento acima das fotos
                  left: 50%; // Centraliza horizontalmente
                  transform: translateX(-50%); // Corrige posicionamento
                  z-index: 10; // Assegura que fique sobre as imagens
                  width: 12px; // Aumenta o tamanho do bullet para melhor visibilidade
                  height: 12px; // Aumenta o tamanho do bullet
                  background: #ccc; // Cor cinza claro
                  border-radius: 50%; // Forma circular
                  opacity: 0.9; // Aumenta a opacidade para melhor visibilidade
                  margin-top: -20px; // Ajusta o posicionamento vertical
               }

               .swiper-pagination-bullet-active {
                  background: #fff; // Cor branca para o ativo
                  opacity: 1; // Opacidade total
                  z-index: 11; // Eleva o z-index do ativo para garantir destaque
               }
            }

            //Informações
            .card-body {
               padding: 10px 15px;

               .card-title {
                  font-size: 1.3rem;
                  color: #333;
               }


               .card-text {
                  font-size: 1.4rem;
                  color: #666;
                  margin-bottom: 10px;
               }


               .card-info {
                  font-size: 1rem;
                  color: #888;
                  margin-bottom: 5px;
               }



               .info-2 {
                  @include flex(row, left, start);
                  gap: 5rem;
               }


               .btn {
                  width: 100%;
                  @include flex(row, center, center);

                  .btn-primary {
                     background-color: var(--color-highlight);
                     border: none;
                     border-radius: 5px;
                     font-weight: bold;
                     color: var(--color-background);
                     width: 50%;
                     font-size: 1.3rem;
                     padding: 8px;
                     margin-top: 8px;
                     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                  }
               }

            }








         }
      }
   }


}














































///////////////////////////////////////////