/* section {
  width: 100%;
  height: calc(100vh - 9.6rem);
}
 */


#s__home {
  position: relative;
  width: 100%;
  height: 100vh;

  .swiper-container {
    margin-left: -15px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  .swiper-slide {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); // Ajuste a opacidade conforme necessário
      z-index: 1;
    }
  }

  .content-container {
    z-index: 2023;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-yellow);
    text-align: center;
  }

  h1 {
    color: var(--primary-yellow-dark);
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    /* Adiciona sombra ao texto para melhorar a legibilidade */
    font-weight: bold;
    /* Torna o texto mais forte */
    margin-bottom: 2rem
  }

  .filter {
    @include flex(column, center, center);
    background-color: rgba(0, 0, 0, 0.5);
    width: 120rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 20px;

    p {
      margin-bottom: 1rem;
    }

    form {
      @include flex(column, center, center);
      width: 100%;
      padding: 2rem;

      .filters {
        @include flex(row, center, center);
        gap: 5rem;
        height: auto;

        .filter-item {
          @include flex(column, right, center);
          width: 100%;
          max-width: 20rem;
          text-align: left;

          label {
            width: 20rem;
            display: block;
            margin-bottom: 0.8rem;
            font-weight: bold;
            font-size: 1.5rem;
          }

          input,
          select {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            padding: 0 15px;
          }

          button {
            width: 5rem;
            background-color: var(--primary-yellow);
            border: 1px solid black;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2.5rem;
          }
        }
      }
    }
  }
}

//Mobile Home
@media (max-width: 768px) {
  #s__home {
    height: auto;

    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }

    .content-container {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      padding: 1rem;

      h1 {
        font-size: 1.5rem;
      }
    }

    .filter {
      width: 90%;
      padding: 1rem;
      border-radius: 10px;

      form {
        padding: 1rem;

        .filters {
          flex-direction: column;
          gap: 1rem;

          .filter-item {
            max-width: 100%;

            label {
              font-size: 1rem;
            }

            input,
            select {
              height: 25px;
              padding: 0 10px;
            }

            button {
              width: 100%;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}



#s__imoveis {
/*   height: calc(145vh - 9.6rem); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 40px 0;
      font-size: 3rem;
      color: var(--dark-gray);
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      .section2 {
        display: flex;
      }

      .col-md-4 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 300px;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          text-align: center;

          p {
            margin-bottom: 10px;
            font-size: 1.5rem;
            color: var(--lime-greeny);
          }

          h5 {
            margin-bottom: 10px;
            font-size: 1.25rem;
            color: #333;
          }

          .card-text {
            margin: 5px 0 20px 0;
            font-size: 1rem;
            font-weight: bold;
            color: #666;
          }

          .card-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            gap: 1rem;

            .info-details {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              width: 100%;
            }

            .info-location {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              padding-left: 1.5rem;
            }

            p {
              margin: 0;
              font-size: 0.9rem;
              color: #666;

              i {
                margin-right: 5px;
                color: #333;
              }
            }
          }

          .btn {
            padding: 10px 20px;
            font-size: 1rem;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }

    .btn {
      margin-top: 2rem;
      padding: 10px 20px;
      font-size: 2rem;
      color: var(--primary-yellow);
      background-color: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--dark-green);
      }

    }
  }
}

//Mobile Imoveis
@media (max-width: 768px) {
  #s__imoveis {

    height: calc(170vh - 9.6rem);

    .container {
      .section2 {
        display: none;
      }
    }
  }
}


#s__serviços {
  padding: 40px 0;

  .container {
    background-image: url('../assets/bg/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    h1 {
      color: var(--white);
      text-align: center;
      margin-bottom: 20px;
    }

    .content {

      .row {
        margin-left: -5rem;
        margin-bottom: 2rem;
        @include flex(row, center, center);
        text-align: center;
        gap: 4rem;

        .col-md-3 {
          margin-top: 20px;
        }

        .card {
          @include flex(column, center, center);
          background-color: #ffffff;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          width: 29.5rem;
          height: 200px;
          border: 1px solid #ddd;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
          }

          i {
            height: auto;
            color: var(--primary-yellow);
            margin-bottom: 10px;
          }

          p {
            margin-top: 0;
            padding: 0 10px;
          }

          .service-description {
            font-size: 1.1rem;
            color: darken(#333, 20%);
            margin-top: 5px;
          }
        }
      }
    }

    // Responsividade
    @media (max-width: 991px) {
      .row {
        .col-md-3 {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    }

    @media (min-width: 992px) {
      .row {
        .col-md-3 {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }
  }

}



#s__sobre {
 /*  height: calc(90vh - 9.6rem); */
  /*   background-color: var(--primary-yellow); */
  padding: 4rem;

  .container {
    @include flex(column, center, center);

    h1 {
      margin-left: -10rem;
      width: 100%;
      text-align: start;
      color: black;
      margin-bottom: 5rem;

    }

    .sec {
      @include flex(row, center, center);
      gap: 9rem;

      .video,
      .info {
        width: 50%;
      }

      .video {
        iframe {
          height: 40rem;
          ;
          border: 1px solid #ddd;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }
      }

      .info {
        margin-top: -4rem;
        @include flex(column, start, top);
        align-items: start;
        justify-content: starts;
        gap: 5rem;


        p {
          font-size: 1.8rem;
          color: #666;
          text-align: justify;
        }

        .info-sobre {
          @include flex(row, center, center);
          gap: 2rem;

          i {
            font-size: 4rem;
            color: var(--primary-yellow);
            margin-top: -2rem;
          }

          p {
            width: 50rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            /* Adiciona sombra ao texto para melhorar a legibilidade */
            font-weight: bold;
            /* Torna o texto mais forte */
            margin-bottom: 2rem
          }

        }


      }


    }
  }

}




#s__ajuda {
   height: calc(40vh - 9.6rem); 


  .container {
    height: 100%;
    width: 100%;
    @include flex(row, center, right);

    h5 {
      width: 35rem;
      text-align: justify;
      //color: var(--primary-yellow); /* Mantém a cor original */
      color: #fff;
      font-size: 3rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
      /* Adiciona sombra ao texto para melhorar a legibilidade */
      font-weight: bold;
      /* Torna o texto mais forte */

    }
  }
}




#s__contato {
  background-color: var(--white);
  padding: 5rem 0 8rem 0;

  .container {
    h1 {
      margin-bottom: 5rem
    }

    .sec {
      @include flex(row, center, center);
      gap: 10rem;

      .map-container {
        width: 31rem;
        @include flex(column, start, center);
        gap: 1rem;

        h4{
          font-size: 2rem;
          color: var(--primary-yellow);
          font-weight: bold;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        p{
          @include flex(row, center, center);
          gap: 1rem; 
          font-size: 1.1rem;
          font-weight: bold;
          i{
            color: red;
          }
        }

        iframe {
          width: 31rem;
          height: 22rem;
          border: 1px solid #ddd;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }
      }

      .contact-icons {
        @include flex(column, center, center);
        gap: 2rem;

        p {
          font-size: 2rem;
          font-weight: bold;
          color: var(--primary-yellow);
        }

        .icons {
          @include flex(row, center, center);
          gap: 5rem;

          a {
            i {
              color: black;
            }
          }
        }
      }

    }
  }
}