:root {
  // Adriel Corretor Colors
  // --primary-yellow: #F6D554;
  --primary-yellow: #C2A242;
  --primary-yellow-light: #FFFFCC;

  --light-yellow: #FAE78D;
  --light-yelloww: #FFF9C4;
  --dark-yellow: #D4B72E;
  --very-light-yellow: #FEF9E7;
  --medium-yellow: #E5C349;
  --golden-yellow: #B89720;


  

  --teste-1: #FFE47A;
  --teste-2: #FFEDA5;
  --teste-3: #E1BD2E;
  --teste-4: #B49414;
  --teste-5: #E1BD2E;
  --teste-6: #B49414;
  --teste-7: #FFE47A;



  
  
  
  
  
  


  --light-gray: #F0F0F0;
  --medium-gray: #B0B0B0;
  --dark-gray: #333333;
  
  --light-green: #C5E1A5;
  --dark-green: #388E3C;
  --lime-green: #DFF3E3;
  --forest-green: #2C6E49;

  --light-blue: #A7C7E7;
  --dark-blue: #2A4D69;

   --primary-blue: #007A78;
 
   // Black Colors
   --black-light: #1A1A1A;
   --black-lighten: #192033;
   --black-normal: #010101;
   --black-dark: #000000;
 
   // White Colors
   --white: #FFFFFF;
   --white-normal: #F5F5F5;
   --white-dark: #D9D9D9;
 
   // Gray Colors
   --gray-900: #030E15;
   --gray-800: #2D3235;
   --gray-700: #4F5152;
   --gray-600: #78797A;
   --gray-500: #9A9D9E;
   --gray-400: #BABCBD;
   --gray-300: #C6C7C8;
   --gray-200: #DADCDD;
   --gray-100: #F6F6F6;
   --swiper-grey: #d3d3d3;


   --black: #00000;



// Definições de cores
$primary-color: #0056b3; // Azul, ajuste conforme sua paleta de cores
$secondary-color: #ffffff; // Branco
$hover-color: lighten($primary-color, 10%); // Azul mais claro para hover
$text-color: #333; // Cor de texto escuro para melhor legibilidade




 }